      <header id="header" id="home">
          <div style="position: fixed;top:0;width: 100%;z-index:100;">
          <div class="header-top">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
                          <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                          </ul>			
                      </div>
                      <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
                          <a href="tel:+9090909090"><span class="lnr lnr-phone-handset"></span> <span class="text">+90909909090</span></a>
                          <a href="mailto:Educare@new.com"><span class="lnr lnr-envelope"></span> <span class="text">Educare@new.com</span></a>			
                      </div>
                  </div>			  					
              </div>
        </div>
        
        <div class="container-fluid main-menu" style="background-color: black;width: 100%;margin-right: 0px;margin-left: 0px;" >
            <div class="row align-items-center justify-content-between d-flex">
              <div id="logo">
                <a href="index.html"><img src="../../assets/img/logo.png" alt="" title="" /></a>
              </div>
              <nav id="nav-menu-container">
                <ul class="nav-menu">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="../about/">About</a></li>
                  <li><a href="courses.html">Courses</a></li>
                  <li class="menu-has-children"><a href="">New User </a>
                    <ul>
                      <li><a href="#">Sign Up</a></li>
                      
                    </ul>
                  </li>	
                 
                  <li class="menu-has-children"><a href="">Login</a>
                    <ul>
                          <li><a onclick="myfunction()">As Admin</a></li>	
                          
                          <li><a href="event-details.html">As User</a></li>		
                        <li><a href="elements.html">As Trainer</a></li>
                          	                		
                    </ul>
                  </li>					          					          		          
                  <li><a href="../contacts/">Contact</a></li>
                </ul>
              </nav><!-- #nav-menu-container -->		    		
            </div>
        </div>
    </div>
      </header><!-- #header -->

        <!-- start banner Area -->
        <section class="banner-area relative" id="home">
            <div class="overlay overlay-bg"></div>	
            <div class="container">
                <div class="row fullscreen d-flex align-items-center justify-content-between">
                    <div class="banner-content col-lg-9 col-md-12">
                        <h1 class="text-uppercase">
                            We Ensure better education
                            for a better world			
                        </h1>
                        <p class="pt-10 pb-10">
                            In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space telescope known as the Hubble.
                        </p>
                        <a href="#" class="primary-btn text-uppercase">Get Started</a>
                    </div>										
                </div>
            </div>					
        </section>
        <!-- End banner Area -->

        <!-- Start feature Area -->
        <section class="feature-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-feature">
                            <div class="title" style="background-color:orangered">
                                <h4>Learn Online Courses</h4>
                            </div>
                            <div class="desc-wrap">
                                <p>
                                    Usage of the Internet is becoming more common due to rapid advancement
                                    of technology.
                                </p>
                                <a href="#">Join Now</a>									
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-feature">
                            <div class="title" style="background-color:orangered">
                                <h4>Grab great Online Materials</h4>
                            </div>
                            <div class="desc-wrap">
                                <p>
                                    Availablity of great books and materials by the best authors.
                                </p>
                                <a href="#">Join Now</a>									
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-feature">
                            <div class="title" style="background-color:orangered">
                                <h4>Other Non-Technical Courses</h4>
                            </div>
                            <div class="desc-wrap">
                                <p>
                                    We also Help learning many other non-tech course.
                                </p>
                                <a href="#">Join Now</a>									
                            </div>
                        </div>
                    </div>												
                </div>
            </div>	
        </section>
        <!-- End feature Area -->
                
        <!-- Start popular-course Area -->
        <section class="popular-course-area section-gap">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Popular Courses we offer</h1>
                            <p>There is a moment in the life of any aspiring.</p>
                        </div>
                    </div>
                </div>						
                <div class="row">
                    <div class="active-popular-carusel">
                        <div class="single-popular-carusel">
                            <div class="thumb-wrap relative">
                                <div class="thumb relative">
                                    <div class="overlay overlay-bg"></div>	
                                    <img class="img-fluid" src="../../assets/img/p1.jpg" alt="">
                                </div>
                                <div class="meta d-flex justify-content-between">
                                    <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                                    <h4>$150</h4>
                                </div>									
                            </div>
                            <div class="details">
                                <a href="#">
                                    <h4>
                                        Learn DotNet
                                    </h4>
                                </a>
                                <p>
                                   .Net a framework with which you can make wonders.Wanna Learn?!								
                                </p>
                            </div>
                        </div>	
                        <div class="single-popular-carusel">
                            <div class="thumb-wrap relative">
                                <div class="thumb relative">
                                    <div class="overlay overlay-bg"></div>	
                                    <img class="img-fluid" src="../../assets/img/p2.jpg" alt="">
                                </div>
                                <div class="meta d-flex justify-content-between">
                                    <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                                    <h4>$150</h4>
                                </div>									
                            </div>
                            <div class="details">
                                <a href="#">
                                    <h4>
                                        Learn React js beginners
                                    </h4>
                                </a>
                                <p>
                                    Validation of correctness in a web is everything.Js gives every idea to validate!										
                                </p>
                            </div>
                        </div>	
                        <div class="single-popular-carusel">
                            <div class="thumb-wrap relative">
                                <div class="thumb relative">
                                    <div class="overlay overlay-bg"></div>	
                                    <img class="img-fluid" src="../../assets/img/p3.jpg" alt="">
                                </div>
                                <div class="meta d-flex justify-content-between">
                                    <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                                    <h4>$150</h4>
                                </div>									
                            </div>
                            <div class="details">
                                <a href="#">
                                    <h4>
                                        Learn Java
                                    </h4>
                                </a>
                                <p>
                                    Java..the name makes you excited for learning and developing many apps right.Dnot wait join and grab the oppurtunity!										
                                </p>
                            </div>
                        </div>	
                        <div class="single-popular-carusel">
                            <div class="thumb-wrap relative">
                                <div class="thumb relative">
                                    <div class="overlay overlay-bg"></div>	
                                    <img class="img-fluid" src="../../assets/img/p4.jpg" alt="">
                                </div>
                                <div class="meta d-flex justify-content-between">
                                    <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                                    <h4>$150</h4>
                                </div>									
                            </div>
                            <div class="details">
                                <a href="#">
                                    <h4>
                                        Learn Python
                                    </h4>
                                </a>
                                <p>
                                    An emerging language which has no semi-colons and syntax which fears you.Learn python and become an app developer.										
                                </p>
                            </div>
                        </div>
                        <div class="single-popular-carusel">
                            <div class="thumb-wrap relative">
                                <div class="thumb relative">
                                    <div class="overlay overlay-bg"></div>	
                                    <img class="img-fluid" src="../../assets/img/p1.jpg" alt="">
                                </div>
                                <div class="meta d-flex justify-content-between">
                                    <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                                    <h4>$150</h4>
                                </div>									
                            </div>
                            <div class="details">
                                <a href="#">
                                    <h4>
                                        Learn Artificial Intelligence
                                    </h4>
                                </a>
                                <p>
                                   Interested in robotics and the fifth generation of a computer.Learn the basic first.AI is everything which is gonna rule the world in near future.Expertise in AI.									
                                </p>
                            </div>
                        </div>	
                        <div class="single-popular-carusel">
                            <div class="thumb-wrap relative">
                                <div class="thumb relative">
                                    <div class="overlay overlay-bg"></div>	
                                    <img class="img-fluid" src="../../assets/img/p2.jpg" alt="">
                                </div>
                                <div class="meta d-flex justify-content-between">
                                    <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                                    <h4>$150</h4>
                                </div>									
                            </div>
                            <div class="details">
                                <a href="#">
                                    <h4>
                                        Learn Hadoop and Cloud Computing
                                    </h4>
                                </a>
                                <p>
                                    Azure,IBM cloud and many more cloud technologies are graet to be laernt and worked on.Come on and Learn those to become an expert.										
                                </p>
                            </div>
                        </div>	
                        <div class="single-popular-carusel">
                            <div class="thumb-wrap relative">
                                <div class="thumb relative">
                                    <div class="overlay overlay-bg"></div>	
                                    <img class="img-fluid" src="../../assets/img/p3.jpg" alt="">
                                </div>
                                <div class="meta d-flex justify-content-between">
                                    <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                                    <h4>$150</h4>
                                </div>									
                            </div>
                            <div class="details">
                                <a href="#">
                                    <h4>
                                        Learn Linux
                                    </h4>
                                </a>
                                <p>
                                    Learning an open source operating ystem is no less fun.Wann alearn more about Linux..Join immediately!										
                                </p>
                            </div>
                        </div>	
                        <div class="single-popular-carusel">
                            <div class="thumb-wrap relative">
                                <div class="thumb relative">
                                    <div class="overlay overlay-bg"></div>	
                                    <img class="img-fluid" src="../../assets/img/p4.jpg" alt="">
                                </div>
                                <div class="meta d-flex justify-content-between">
                                    <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                                    <h4>$150</h4>
                                </div>									
                            </div>
                            <div class="details">
                                <a href="#">
                                    <h4>
                                        Learn Deep Learning
                                    </h4>
                                </a>
                                <p>
                                    Completed AI..Why are waiting..Learn Deep Learning and become a great technovert!!
                                </p>
                            </div>
                        </div>							
                    </div>
                </div>
            </div>	
        </section>
        <!-- End popular-course Area -->
        

        <!-- Start search-course Area -->
        <section class="search-course-area relative">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6 col-md-6 search-course-left">
                        <h1 class="text-white">
                            Get reduced fee <br>
                            during this Summer!
                        </h1>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
                        </p>
                        <div class="row details-content">
                            <div class="col single-detials">
                                <span class="lnr lnr-graduation-hat"></span>
                                <a href="#"><h4>Expert Instructors</h4></a>		
                                <p>
                                    Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                                </p>						
                            </div>
                            <div class="col single-detials">
                                <span class="lnr lnr-license"></span>
                                <a href="#"><h4>Certification</h4></a>		
                                <p>
                                    Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                                </p>						
                            </div>								
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 search-course-right section-gap">
                        <form class="form-wrap" action="#">
                            <h4 class="text-white pb-20 text-center mb-30">Search for Available Course</h4>		
                            <input type="text" class="form-control" name="name" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" >
                            <input type="phone" class="form-control" name="phone" placeholder="Your Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Phone Number'" >
                            <input type="email" class="form-control" name="email" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'" >
                            <div class="form-select" id="service-select">
                                <select>
                                    <option datd-display="">Choose Course</option>
                                    <option value="1">Course One</option>
                                    <option value="2">Course Two</option>
                                    <option value="3">Course Three</option>
                                    <option value="4">Course Four</option>
                                </select>
                            </div>									
                            <button class="primary-btn text-uppercase">Submit</button>
                        </form>
                    </div>
                </div>
            </div>	
        </section>
        <!-- End search-course Area -->
        
    
        
                    <br/>
        
        <!-- Start cta-one Area -->
        <section class="cta-one-area relative section-gap">
            <div class="container">
                <div class="overlay overlay-bg"></div>
                <div class="row justify-content-center">
                    <div class="wrap">
                        <h1 class="text-white">Become an instructor</h1>
                        <p>
                            There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station whether that is on the deck.
                        </p>
                        <a class="primary-btn wh" href="#">Apply for the post</a>								
                    </div>					
                </div>
            </div>	
        </section>
        <!-- End cta-one Area -->

        <br/>
        <!-- Start cta-two Area -->
        <section class="cta-two-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 cta-left">
                        <h1>Not Yet Satisfied with our Trend?</h1>
                    </div>
                    <div class="col-lg-4 cta-right">
                        <a class="primary-btn wh" href="#">view our blog</a>
                    </div>
                </div>
            </div>	
        </section>
        <!-- End cta-two Area -->
                    
        <!-- start footer Area -->		
        <footer class="footer-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Top Products</h4>
                            <ul>
                                <li><a href="#">Managed Website</a></li>
                                <li><a href="#">Manage Reputation</a></li>
                                <li><a href="#">Power Tools</a></li>
                                <li><a href="#">Marketing Service</a></li>
                            </ul>								
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Quick links</h4>
                            <ul>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Brand Assets</a></li>
                                <li><a href="#">Investor Relations</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>								
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Features</h4>
                            <ul>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Brand Assets</a></li>
                                <li><a href="#">Investor Relations</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>								
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Resources</h4>
                            <ul>
                                <li><a href="#">Guides</a></li>
                                <li><a href="#">Research</a></li>
                                <li><a href="#">Experts</a></li>
                                <li><a href="#">Agencies</a></li>
                            </ul>								
                        </div>
                    </div>																		
                    <div class="col-lg-4  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Newsletter</h4>
                            <p>Stay update with our latest</p>
                            <div class="" id="mc_embed_signup">
                                 <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
                                  <div class="input-group">
                                    <input type="text" class="form-control" name="EMAIL" placeholder="Enter Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '" required="" type="email">
                                    <div class="input-group-btn">
                                      <button class="btn btn-default" type="submit">
                                        <span class="lnr lnr-arrow-right"></span>
                                      </button>    
                                    </div>
                                        <div class="info"></div>  
                                  </div>
                                </form> 
                            </div>
                        </div>
                    </div>											
                </div>
                <div class="footer-bottom row align-items-center justify-content-between">
                    <!-- <p class="footer-text m-0 col-lg-6 col-md-12"> Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
 Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p>
                    <div class="col-lg-6 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div> -->
                </div>						
            </div>
        </footer>	
        <!-- End footer Area -->	

<div id="id01" class="modal">
    <form class="container model-content">
            <section class="sample-app-content">
                    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
<form class="modal-content animate" action="/action_page.php" style="padding: 20%">
    <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
                    <!-- <div class="container" style="padding: 30%">
                            <label for="uname"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="uname" required>
                        
                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" required>
                        
                            <button type="submit">Login</button>
                            <label>
                              <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                    </div>
                        
                    <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                    </div>-->
            </section>
                
        </form>  
    </div>                      